@model PhoneBook_ASP.NET_Core_App.Models.Classes.Notes

@{
    ViewData["Title"] = "Add";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<hr />

<style type="text/css">
    .btn {
        text-decoration: none;
        position: relative;
        height: 40px;
        line-height: 40px;
        padding: 0 50px 0 50px;
        margin: 0 20px;
        background: linear-gradient(-135deg, #00E5FE, #4463FE);
        border-width: 0;
        border-radius: 50px;
        font-size: 20px;
        color: white;
        outline: none;
        cursor: pointer;
    }

    .brd {
        border: 4px double black; /* Параметры границы */
        background: #e9e5e5; /* Цвет фона */
        padding: 20px; /* Поля вокруг текста */
    }
</style>
<div class="row" style="align-content:center;">
    <div class="brd">
        <form asp-action="Add">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="brd">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" value="Мефодий" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="brd">
                <label asp-for="SurName" class="control-label"></label>
                <input asp-for="SurName" class="form-control" value="Мефодиев" />
                <span asp-validation-for="SurName" class="text-danger"></span>
            </div>
            <div class="brd">
                <label asp-for="Patronymic" class="control-label"></label>
                <input asp-for="Patronymic" class="form-control" value="Мефодиевич" />
                <span asp-validation-for="Patronymic" class="text"></span>
            </div>
            <div class="brd">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input type="number" asp-for="PhoneNumber" class="form-control" value="111222333" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="brd">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" value="Райская 1" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="brd">
                <label asp-for="Information" class="control-label"></label>
                <input asp-for="Information" class="form-control" value="Святой" />
                <span asp-validation-for="Information" class="text-danger"></span>
            </div>
            <div class="brd">
                <input type="submit" value="Добавить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<ul>
    <li><a class="btn" asp-action="AllView">Назад</a></li>
</ul>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
